@charset "UTF-8";
html,
body {
  height: 100%;
}

body {
  display: flex;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #ffffff;
}

.form-signin {
  width: 100%;
  max-width: 530px;
  padding: 15px;
  margin: auto;
}

.form-signin .checkbox {
  font-weight: 400;
}

.form-signin .form-floating:focus-within {
  z-index: 2;
}

.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

/* 버튼 색 바꾸기 */
.btn-primary {
    background-color: #C1DDD3;
    border-color: #C1DDD3;
    color: #FFF; }
.btn-primary:hover,
.btn-primary:focus {
    border-color: #A3BBAD;
    background-color: #A3BBAD;
    color: #FFF; }
.btn-primary:active,
.btn-primary:visited,
.btn-primary:active:focus,
.btn-primary:active:hover {
    border-color: #98a99f;
    background-color: #98a99f;
    color: #FFF; }
    
.btn-outline-primary {
    background-color: #FFF;
    border-color: #C1DDD3;
    color: #C1DDD3; }
.btn-outline-primary:hover,
.btn-outline-primary:focus {
    border-color: #A3BBAD;
    background-color: #FFF;
    color: #A3BBAD; }
.btn-outline-primary:active,
.btn-outline-primary:visited,
.btn-outline-primary:active:focus,
.btn-outline-primary:active:hover {
    border-color: #98a99f;
    background-color: #FFF;
    color: #98a99f; }
    